*{
    box-sizing: border-box;
 }
body {
    font-family: 'Raleway', sans-serif;
        background: url(https://img.freepik.com/premium-photo/white-background-watercolor-paper_88281-2127.jpg?w=2000) ;
        padding: 100px 0;
    }
    .container 
    {
            width: 800px;   
            min-height: 800px;
            border: 10px solid white;
            margin: 0 auto;
            background: #fff;
    }
  
    .header
    {
        display: flex;
        height: 120px;
    }
    .title-block
    {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 80%;
                height: 100%;
                font-size: 30px;
                background: url(https://images.unsplash.com/photo-1548092372-0d1bd40894a3?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTF8fGludGVybmV0fGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60)
                no-repeat center center / cover;
                color: #fff;
                margin-right: 10px;
            
    }

    .title {
        position: relative;
        z-index: 1;
    }

    .userpic {
        display: flex;
        height: 100%;
        width: 20%;

        background: url("assets/img/silkina2.jpg")
        no-repeat center center / cover;
        color:#fff;
        margin-right: 10px;

        

                          
    }